*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Arial";
}

body{
    background-image: url("bg-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container{
    width: 75%;
    margin: auto;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    gap: 150px;
    height: 100vh;
}

.left-side{
    width: 50%;
    transition: 0.2s ease-in-out;
}

.title{
    font-size: 3.3rem;
    color: white;
    font-weight: 900;
}

.title span{
    font-size: 3.5rem;
    font-weight: 400;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

.input-section{
   margin-top: 2rem;
   display: flex;
   flex-wrap: wrap;
   align-items: end;
   gap: 2rem;
}

.input-section-titles{
    color: white;
    font-size: 1.2rem;
}

.input-section-inputbox{
    outline: none;
    padding: 0.7rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    margin-top: 1rem;
    text-transform: uppercase;
}

.input-property-rent{
    width: 5rem;
}

.input-section-inputcolor{
    border-radius: 5px;
    width: 9rem;
    padding: 1rem;
    height: 2.5rem;
    border: none;
    margin-top: 1rem;
    appearance: none;
    background-color: rgb(152, 15, 173);
}

.right-side{
    display: flex;
    justify-content: center;
    position: relative;
}

.swift{
    transform: translateX(-400px);
}

.card{
    width: 17.5rem;
    height: 0;
    opacity: 0.6;
    transition: 0.5s ease-in-out;
    overflow: hidden;
    background-color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: rgb(200, 208, 231) 3.2px 3.2px 8px 0px inset, rgb(255, 255, 255) -3.2px -3.2px 8px 0px inset;
}

.card-inner-frame{
    border: 2px solid black;
    width: 93%;
    height: 93%;
}

.card-inner-frame-title{
    color: black;
    text-align: center;
    padding: 1rem;
    background-color: rgb(152, 15, 173);
    border-bottom: 1.5px solid black;
}

.title-deed {
    font-size: 0.9rem;
    font-weight: 600;
}

.property-name{
    font-size: 1.2rem;
    font-weight: 900;
    margin-top: 0.3rem;
}

.card-inner-frame-rent{
    display: flex;
    flex-direction: column;
    width: 0;
    overflow: hidden;
    transform: translateX(-400px);
    transition: 0.6s ease-in-out;
    opacity: 0;
}

.rent-list-item{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.combo-rent, .one-house, .two-house, .three-house, .four-house, .hotel, .house-cost, .hotel-cost{
    transition: 0.2s ease-in-out;
    transform: translateX(-200px);
    opacity: 0;
}

.straight-line{
    width: 100%;
    height: 0.06rem;
    margin: 0.7rem 0rem;
    background-color: rgb(0, 0, 0);
    transform: translateY(200px);
    transition: 0.7s ease-in-out;
    opacity: 0;
}

.download-image{
    background-color: rgb(152, 15, 173);
    padding: 1rem;
    border-radius: 3px;
    outline: none;
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
    height: 47px;
    font-size: 1rem;
}

.message{
    position: absolute;
    top: 100px;
    left: 0px;
    color: white;
    display: none;
    transform: translateX(-400px);
    opacity: 0;
}

.message p{
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.message span{
    font-weight: 400;
    font-size: 1rem;
}

.reset-btn{
    margin-top: 2rem;
    text-align: center;
    border-radius: 8px;
    width: 7rem;
    padding: 1rem;
    color: black;
    font-weight: 600;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}


@media only screen and (max-width: 1150px){
    .left-side{
        width: 40%;
    }

    .title{
        font-size: 2.5rem;
    }
    
    .title span{
        font-size: 2.4rem;
    }
    
    .input-section{
       gap: 1.4rem;
    }
    
    .input-section-titles{
        font-size: 1.1rem;
    }
    
}

@media only screen and (max-width: 700px){

    .container{
        flex-wrap: wrap;
        gap: 10px;
    }

    .left-side{
        width: 100%;
    }

    .title{
        font-size: 1.5rem;
    }
    
    .title span{
        font-size: 2.4rem;
    }
    
    .input-section{
       gap: 1rem;
    }
    
    .input-section-titles{
        font-size: 0.9rem;
    }

    .card{
        width: 14rem;
    }

    .card-inner-frame-title{
        height: 4.3rem;
    }

    .rent-list-item{
        font-size: 13px;
    }

    .straight-line{
        margin: 0.3rem 0rem;
    }
}